body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    max-height: 60px; /* Ajuste a altura conforme necessário */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    border-bottom: 2px solid white;
  }
  